.page-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1; /* takes remaining space */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	font-family: 'Inter', serif;
}
