@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap'); /* Pirata One font for buttons */

/* MoRk DuNgEoN font for title */
@font-face {
	font-family: 'MoRk DuNgEoN';
	src: url('/fonts/MorkDungeon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	/* Brand */
	--color-primary: #00d1b2;
	--color-primary-dark: #027c6a;
	--color-primary-light: #a9fcef;;

	/* Banner */
	--banner-color-bg: #3D3C3C;

	/* Footer */
	--footer-color-bg: #282828;
	--footer-color-text: #00d1b2;
	--footer-color-link: #000;
	--footer-color-shadow: #e0cc91;
	--footer-color-shadow: #e0cc91;

	/* Neutral */
	--color-bg: #605f5f;
	--color-surface: #1e293b;
	--color-border: #334155;

	/* Text */
	--color-text: #f1f5f9;
	--color-text-muted: #94a3b8;

	/* Fonts */
/*	--font-title: 'MoRk DuNgEoN', serif;*/
	--font-title: 'Pirata One', serif;
	--font-label: 'Pirata One', serif;
	--font-button-large: 'Pirata One', serif;
	--font-button-small: 'Inter', serif;
	--font-body: 'Inter', serif;

	/* Feedback */
	--color-success: #22c55e;
	--color-danger: #ef4444;
	--color-warning: #f59e0b;

	/* Typography scale */
	--fs-xs: 0.75rem;
	--fs-sm: 0.875rem;
	--fs-md: 1rem;
	--fs-lg: 1.5rem;
	--fs-xl: 2rem;
	--fs-2xl: 3rem;

	/* Spacing scale */
	--space-xs: 0.25rem;
	--space-sm: 0.5rem;
	--space-md: 1rem;
	--space-lg: 2rem;
	--space-xl: 4rem;

	/* Radius */
	--radius-sm: 6px;
	--radius-md: 12px;
	--radius-lg: 20px;

	/* Shadows */
	--shadow-soft: 0 2px 5px #64bcaf;
}

