.login-box {
	width: 90%; /* takes most of the screen on small devices */
	max-width: 600px; /* controls overall box width */
	border-radius: 30px; /* rounded borders */
	 border: 2px solid var(--color-primary);
	display: flex;
    flex-direction: column; /* stack children vertically */
    justify-content: center; /* vertical centering */
    align-items: center; /* horizontal centering */
    gap: clamp(1rem, 4vw, 2rem);
	padding: clamp(1rem, 4vw, 4rem); /* add some spacing between elements and borders */
	margin: 2rem auto; /* centers the div horizontally inside the Box */
    box-sizing: border-box; /* Include padding in width */
	overflow: hidden; /* Prevent children from stick out of the container */
}

.login-box form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #00d1b2;
	gap: 1.5rem; /* consistent spacing between inputs */
}

.login-box  label {
	font-weight: 700;
	font-family: var(--font-label);
	font-size: clamp(1.2rem, 2vw, 2rem);
	margin-bottom: 6px;
	display: inline-block;
	color: #00d1b2;
}

.login-box .button {
	font-family: var(--font-button-large);
}

.login-box .social-buttons {
	display: flex;
	flex-direction: row;       /* side by side by default */
	gap: 1rem;                 /* spacing between buttons */
	justify-content: center;   /* center on large screens */
	flex-wrap: wrap;           /* wrap to next line on small screens */
	width: 100%;
	max-width: 420px;          /* optional max width */
}

.login-box input:focus, select:focus {
  outline: none;
  border-color: #00f0f0;
  background-color: #333;
}

@media (max-width: 480px) {
	.login-box {
		padding: 1.5rem;
		gap: 1.5rem;
	}

	.login-box .social-buttons {
		flex-direction: column;
	}
}

