.search_form {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* space between input and button */
}

.filter_panel {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


.search_input {
  flex: 1; /* input takes remaining space */
  padding: 0.5rem;
  border: 1px solid #00d1b2;
  border-radius: 4px;
  font-size: 1rem;
}

.search_button {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  transition: background-color 0.2s ease;
}

.search_button:hover {
  background-color: #e0e0e0;
}
